################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Specflow_BDD_UI_Test_Automation_Framwork/.vs/Specflow_BDD_UI_Test_Automation_Framwork/v15
/Specflow_BDD_UI_Test_Automation_Framwork/Selenium/obj/Debug/netcoreapp2.1
/Specflow_BDD_UI_Test_Automation_Framwork/Specflow_BDD_UI_Test_Automation_Framwork/obj/Debug/netcoreapp2.1
