<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <unitTestProvider name="nUnit" />
  <!-- if you will not set "unitTestProvider" that will use "nUnit" by default  -->
  <plugins>
    <add name="SpecFlow.Retry.Generator" path="..\packages\SpecFlow.Retry.2.3.0\lib\net45" type="Generator" />
  </plugins>

</configuration>